body {
  background-color: #f0f0f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  padding: 0;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  background-color: lightblue;
}
